In [49]:
import pandas as pd
import numpy as np

In [50]:
df = pd.read_csv("D:/DATA SCIENCE/MACHINE LEARNING/Multi-Outputs/netflix_titles.csv")

In [51]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [52]:
# Dropping specified columns
columns_to_drop = ['show_id', 'director', 'cast', 'country', 'date_added', 'release_year', 'duration', 'listed_in']
df.drop(columns=columns_to_drop, inplace=True)

In [53]:
df.head()

,type,title,rating,description
0,Movie,Dick Johnson Is Dead,PG-13,"As her father nears the end of his life, filmm..."
1,TV Show,Blood & Water,TV-MA,"After crossing paths at a party, a Cape Town t..."
2,TV Show,Ganglands,TV-MA,To protect his family from a powerful drug lor...
3,TV Show,Jailbirds New Orleans,TV-MA,"Feuds, flirtations and toilet talk go down amo..."
4,TV Show,Kota Factory,TV-MA,In a city of coaching centers known to train I...

In [54]:
# Class 1/Target 1/Output 1 Distribution
df['type'].value_counts()

Movie      6131
TV Show    2676
Name: type, dtype: int64

In [55]:
# Class 2/Target 2/Output 2 Distribution
df['rating'].value_counts()

TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NC-17          3
UR             3
74 min         1
84 min         1
66 min         1
Name: rating, dtype: int64

In [56]:
# List of values to be removed
values_to_remove = ['74 min', '84 min', '66 min']

# Get indices of rows containing the values to remove in the 'rating' column
indices_to_remove = df[df['rating'].isin(values_to_remove)].index

# Drop rows with the specified indices
df.drop(indices_to_remove, inplace=True)

In [57]:
# Class 2/Target 2/Output 2 Distribution
df['rating'].value_counts()

TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NC-17          3
UR             3
Name: rating, dtype: int64

In [58]:
# Class 1/Target 1/Output 1 Distribution
df['type'].value_counts()

Movie      6128
TV Show    2676
Name: type, dtype: int64

In [59]:
#text cleaning 
import neattext.functions as nfx

In [61]:
#text cleaning 
import neattext.functions as nfx

In [62]:
# Convert the 'title' column to lowercase using Pandas
df['title'] = df['title'].str.lower()

In [63]:
df['title'] = df['title'].apply(nfx.remove_stopwords)

In [64]:
df.head()

,type,title,rating,description
0,Movie,dick johnson dead,PG-13,"As her father nears the end of his life, filmm..."
1,TV Show,blood & water,TV-MA,"After crossing paths at a party, a Cape Town t..."
2,TV Show,ganglands,TV-MA,To protect his family from a powerful drug lor...
3,TV Show,jailbirds new orleans,TV-MA,"Feuds, flirtations and toilet talk go down amo..."
4,TV Show,kota factory,TV-MA,In a city of coaching centers known to train I...

In [73]:
df.isnull().sum()

type           0
title          0
rating         4
description    0
dtype: int64

In [74]:
df1 = df.dropna(subset=['rating'])

In [75]:
df1.head()

,type,title,rating,description
0,Movie,dick johnson dead,PG-13,"As her father nears the end of his life, filmm..."
1,TV Show,blood & water,TV-MA,"After crossing paths at a party, a Cape Town t..."
2,TV Show,ganglands,TV-MA,To protect his family from a powerful drug lor...
3,TV Show,jailbirds new orleans,TV-MA,"Feuds, flirtations and toilet talk go down amo..."
4,TV Show,kota factory,TV-MA,In a city of coaching centers known to train I...

In [76]:
df1.isnull().sum()

type           0
title          0
rating         0
description    0
dtype: int64

In [77]:
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.multioutput import MultiOutputClassifier

In [83]:
#features and labels
Xfeatures = df1['title']
ylabels = df1[['type','rating']]

In [84]:
#split data
x_train, x_test, y_train, y_test = train_test_split(Xfeatures,ylabels, test_size=0.3,random_state=7)

In [85]:
from sklearn.pipeline import Pipeline

In [86]:
pipe = Pipeline(steps = [('cv',CountVectorizer()), ('multi', MultiOutputClassifier(LogisticRegression()))])

In [87]:
pipe.fit(x_train, y_train)

D:\New folder\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Pipeline(steps=[('cv', CountVectorizer()),
                ('multi',
                 MultiOutputClassifier(estimator=LogisticRegression()))])

In [88]:
# Accuracy Score
pipe.score(x_test,y_test)

0.2681818181818182

In [89]:
# Accuracy Score
pipe.score(x_train,y_train)

0.6204545454545455

In [90]:
# Sample Prediction
print(x_test.iloc[0])
print("Actual Prediction:",y_test.iloc[0])

phantom
Actual Prediction: type      Movie
rating    TV-14
Name: 4597, dtype: object

In [91]:
# Sample Prediction
print(x_train.iloc[0])
print("Actual Prediction:",y_train.iloc[0])

epic tales captain underpants space
Actual Prediction: type      TV Show
rating      TV-Y7
Name: 2249, dtype: object

In [92]:
pred1 = x_train.iloc[0]

In [93]:
pred1

'epic tales captain underpants space'

In [94]:
pred2 = x_test.iloc[0]

In [95]:
pred2

'phantom'